.contact-text {
  max-width: 75%;
  display: flex;
  text-align: center;
}

.contact-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.contact-row p {
  margin: 0 !important;
}
