@import "colors";
@import "fonts";

.title {
  color: $gold;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.nav {
  margin: 10px;
}

.btn-link:hover {
  transform: translateY(-7px);
}
