.home-container {
  padding: 0px 20px 0px 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
  max-width: 100% !important;
  height: 100% !important;
  transition: all 0.25s linear;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subtitle {
  font-size: 25px;
  margin-top: -21px;
  text-align: right;
}

.descriptor {
  font-size: 23px;
  line-height: 1.5rem;
}

.spline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: all 0.25s linear;
}

.nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.description-area {
  position:absolute;
  left: 5%;
  transform: translateY(7rem);
}

hr {
  -webkit-animation: lineDraw 2s;
  -moz-animation: lineDraw 2s;
  -o-animation: lineDraw 2s;
  animation: lineDraw 2s;
  animation-fill-mode: forwards;
}

.header-area {
  position: absolute;
  right: 5%;
  transform: translateY(-7rem);
}

.logo {
  -webkit-animation: swirl 2s;
  -moz-animation: swirl 2s;
  -o-animation: swirl 2s;
  animation: swirl 2s;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.diamond:nth-child(1) {
  animation: rotate 3s infinite;
}
.diamond:nth-child(2) {
  animation: rotate1 5s infinite;
}
.diamond:nth-child(3) {
  animation: rotate2 7s infinite;
}

@keyframes lineDraw {
  100% {
    width: 100%;
  }
}

@keyframes swirl {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 0.2;
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotate1 {
  100% {
    transform: rotateY(270deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotateY(90deg);
  }
}

@media only screen and (max-width: 655px) {
  .title {
    font-size: 55px !important;
    text-align: right;
  }

  .header-area {
    transform: translateY(-13rem);
  }

  .description-area {
    transform: translateY(13rem);
  }
}