/* .leContainer {
  padding: 0px 20px 00px 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
  max-width: 100% !important;
  height: 100% !important;
} */

.switch {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 45px;
}

.symbol {
  font-size: 15px;
}

.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-types {
  display: flex;
  justify-content: space-between;
}
