/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Raleway', sans-serif; */
body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 51px;
  color: pink;
  margin: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color: lightgray;
  margin: 2px;
}

span {
  display: flex;
  flex-direction: row;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
