body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #FFE5E5;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.spline {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.content {
  /* width: 100%;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  margin: 5rem;
}

.title {
  text-align: center;
}

.title h1 {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-shadow: rgba(229, 105, 126, 0.729) 0 0 25px;
  font-size: 75px;
  margin-bottom: 5px;
}

.title h3 {
  color: rgb(229, 105, 126);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

button {
  padding: 15px;
  margin: 11px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(205, 163, 214);
  box-shadow: 7px 7px 15px 0px rgba(255, 255, 255, 0.672) inset, 7px 7px 15px 0px rgba(229, 105, 126, 0.431);
  transition: .2s ease-in-out;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 15px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .menu {
  display: flex;
  flex-direction: row;
} */

@media only screen and (max-width: 480px) {
  .content {
    margin: 3rem;
  }

  .title h1 {
    font-size: 45px;
  }

  .title h3 {
    font-size: 11px;
  }

  button {
    font-size: 9px;
    margin: 7px;
  }

  /* .menu {
    flex-direction: column;
    align-items: center;
  } */
}