/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Raleway', sans-serif; 
font-family: 'Anonymous Pro', monospace;*/

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  text-align: left;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 51px;
  color: pink;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color: lightgray;
  margin: 2px;
}

p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 15px;
  text-align: left;
  color: gray;
  margin: 0;
}

span {
  display: flex;
  flex-direction: row;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 11px;
  }
}